[Unit]
Description=Gradio front page. Ansewer the question based on wikipedia ja page
After=network.target

[Service]
User=[linux-user]
Group=[linux-group]
WorkingDirectory=[project directory path]
ExecStart=[path to python env] app.py

[Install]
WantedBy=multi-user.target
